.esperienze-container {
  background-color: white;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.9);
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.experience-item {
  border: none;
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.experience-item:last-child {
  border-bottom: none;
}

.experience-content {
  display: flex;
  gap: 12px;
}

@media (max-width: 768px) {
  .experience-content {
    flex-direction: column;
    align-items: center; /* Center items vertically */
  }
  .company-logo {
    margin: 0 auto 1rem;
    width: 100%; /* Adjust logo size as needed */
    max-width: 80px; /* Set a maximum width to prevent it from overflowing */
    height: auto; /* Maintain aspect ratio */

  }
  .experience-details {
    text-align: center;
    padding: 0 1rem;
  }
  .experience-title {
    font-size: 14px; /* Adjust font size as needed */
  }
  .company-name, .experience-date, .experience-location {
    font-size: 12px; /* Adjust font size as needed */
    margin-bottom: 0.5rem;
  }

}


.company-logo {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  object-fit: cover;
}

.experience-details {
  flex: 1;
}

.experience-title {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  margin: 0;
}

.company-name {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  margin: 4px 0;
}

.experience-date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.experience-location {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin: 4px 0 0;
}

.show-all {
  margin-top: 16px;
  text-align: center;
}

.show-all-link {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.show-all-link:hover {
  color: #0a66c2;
  text-decoration: none;
}